<!doctype html>
<html lang="en">
  <head>
    <base href="">
    <title>Admin Unlogic Tech - Kitabku</title>
    <meta name="description" content="Content Management Service untuk Website Kitabku. By Unlogic Tech" />
    <meta name="keywords" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <meta property="og:url" content="https://theunlogic.com" />
    <link rel="shortcut icon" href="<?php echo base_url() ?>assets/img/unlogic-logo.png" />
    <!--begin::Fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
    <!--end::Fonts-->
    <!--begin::Page Vendor Stylesheets(used by this page)-->
    <link href="<?php echo base_url() ?>assets/admin/dist/assets/plugins/custom/fullcalendar/fullcalendar.bundle.css" rel="stylesheet" type="text/css" />
    <link href="<?php echo base_url() ?>assets/admin/dist/assets/plugins/custom/prismjs/prismjs.bundle.css" rel="stylesheet" type="text/css" />
    <!--end::Page Vendor Stylesheets-->
    <!--begin::Global Stylesheets Bundle(used by all pages)-->
    <link href="<?php echo base_url() ?>assets/admin/dist/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="<?php echo base_url() ?>assets/admin/dist/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
  </head>
  <body id="kt_body" class="header-fixed header-tablet-and-mobile-fixed aside-fixed aside-secondary-enabled">
    <div class="card">
        <!--begin::Body-->
        <div class="card-body p-lg-17">
            <!--begin::About-->
            <div class="mb-18">
                <!--begin::Wrapper-->
                <div class="mb-10">
                    <!--begin::Top-->
                    <div class="text-center mb-15">
                        <!--begin::Title-->
                        <h3 class="fs-2hx text-dark mb-5">Selamat Datang</h3>
                        <!--end::Title-->
                        <!--begin::Text-->
                        <div class="fs-5 text-muted fw-bold">
                            di Website <strong>Kitabku - Al Asyariyyah</strong>
                        </div>
                        <!--end::Text-->
                    </div>
                    <!--end::Top-->
                    <!--begin::Overlay-->
                    <div class="overlay">
                        <!--begin::Image-->
                        <!-- <img class="w-100 card-rounded" src="<?php echo base_url() ?>assets/img/background/bg1.jpg" alt="" /> -->
                        <!--end::Image-->
                        <!--begin::Links-->
                        <!-- <div class="overlay-layer card-rounded bg-dark bg-opacity-25">
                            <a href="#" class="btn btn-primary">Pricing</a>
                            <a href="#" class="btn btn-light-primary ms-3">Join Us</a>
                        </div> -->
                        <!--end::Links-->
                    </div>
                    <!--end::Container-->
                </div>
                <!--end::Wrapper-->
                <!--begin::Description
                <div class="fs-5 fw-bold text-gray-600">
                    <p class="mb-8">First, a disclaimer – the entire process of writing a blog post often takes more than a couple of hours, even if you can type eighty words per minute and your writing skills are sharp. From the seed of the idea to finally hitting “Publish,” you might spend several days or maybe even a week “writing” a blog post, but it’s important to spend those vital hours planning your post and even thinking about
                    <a href="#" class="link-primary pe-1">Your Post</a>(yes, thinking counts as working if you’re a blogger) before you actually write it.</p>
                    <p class="mb-8">There’s an old maxim that states,
                    <span class="text-gray-800 pe-1">“No fun for the writer, no fun for the reader.”</span>No matter what industry you’re working in, as a blogger, you should live and die by this statement.</p>
                    <p class="mb-8">Before you do any of the following steps, be sure to pick a topic that actually interests you. Nothing – and
                    <a href="#" class="link-primary pe-1">I mean NOTHING</a>– will kill a blog post more effectively than a lack of enthusiasm from the writer. You can tell when a writer is bored by their subject, and it’s so cringe-worthy it’s a little embarrassing.</p>
                    <p class="mb-17">I can hear your objections already. “But Dan, I have to blog for a cardboard box manufacturing company.” I feel your pain, I really do. During the course of my career, I’ve written content for dozens of clients in some less-than-thrilling industries (such as financial regulatory compliance and corporate housing), but the hallmark of a professional blogger is the ability to write well about any topic, no matter how dry it may be. Blogging is a lot easier, however, if you can muster at least a little enthusiasm for the topic at hand.</p>
                </div>
                end::Description-->
            </div>
            <!--end::About-->
            <!--begin::Statistics
            <div class="card bg-light mb-18">
                <div class="card-body py-15">
                    <div class="d-flex flex-center">
                        <div class="d-flex justify-content-between mb-10 mx-auto w-xl-900px">
                            <div class="octagon d-flex flex-center h-200px w-200px bg-body mx-2">
                                <div class="text-center">
                                    <span class="svg-icon svg-icon-2tx svg-icon-primary">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                            <path opacity="0.3" d="M19 22H5C4.4 22 4 21.6 4 21V3C4 2.4 4.4 2 5 2H14L20 8V21C20 21.6 19.6 22 19 22ZM15 17C15 16.4 14.6 16 14 16H8C7.4 16 7 16.4 7 17C7 17.6 7.4 18 8 18H14C14.6 18 15 17.6 15 17ZM17 12C17 11.4 16.6 11 16 11H8C7.4 11 7 11.4 7 12C7 12.6 7.4 13 8 13H16C16.6 13 17 12.6 17 12ZM17 7C17 6.4 16.6 6 16 6H8C7.4 6 7 6.4 7 7C7 7.6 7.4 8 8 8H16C16.6 8 17 7.6 17 7Z" fill="black" />
                                            <path d="M15 8H20L14 2V7C14 7.6 14.4 8 15 8Z" fill="black" />
                                        </svg>
                                    </span>
                                    <div class="mt-1">
                                        <div class="fs-lg-2hx fs-2x fw-bolder text-gray-800 d-flex align-items-center">
                                        <div class="min-w-70px" data-kt-countup="true" data-kt-countup-value="<?php echo $total_kitab ?>">0</div>+</div>
                                        <span class="text-gray-600 fw-bold fs-5 lh-0">Kitab</span>
                                    </div>
                                </div>
                            </div>
                            <div class="octagon d-flex flex-center h-200px w-200px bg-body mx-2">
                                <div class="text-center">
                                    <span class="svg-icon svg-icon-2tx svg-icon-success">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                            <rect x="2" y="2" width="9" height="9" rx="2" fill="black" />
                                            <rect opacity="0.3" x="13" y="2" width="9" height="9" rx="2" fill="black" />
                                            <rect opacity="0.3" x="13" y="13" width="9" height="9" rx="2" fill="black" />
                                            <rect opacity="0.3" x="2" y="13" width="9" height="9" rx="2" fill="black" />
                                        </svg>
                                    </span>
                                    <div class="mt-1">
                                        <div class="fs-lg-2hx fs-2x fw-bolder text-gray-800 d-flex align-items-center">
                                        <div class="min-w-50px" data-kt-countup="true" data-kt-countup-value="<?php echo $total_kalimat ?>">0</div>+</div>
                                        <span class="text-gray-600 fw-bold fs-5 lh-0">Kalimat</span>
                                    </div>
                                </div>
                            </div>
                            <div class="octagon d-flex flex-center h-200px w-200px bg-body mx-2">
                                <div class="text-center">
                                    <span class="svg-icon svg-icon-2tx svg-icon-info">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                            <path d="M13 10.9128V3.01281C13 2.41281 13.5 1.91281 14.1 2.01281C16.1 2.21281 17.9 3.11284 19.3 4.61284C20.7 6.01284 21.6 7.91285 21.9 9.81285C22 10.4129 21.5 10.9128 20.9 10.9128H13Z" fill="black" />
                                            <path opacity="0.3" d="M13 12.9128V20.8129C13 21.4129 13.5 21.9129 14.1 21.8129C16.1 21.6129 17.9 20.7128 19.3 19.2128C20.7 17.8128 21.6 15.9128 21.9 14.0128C22 13.4128 21.5 12.9128 20.9 12.9128H13Z" fill="black" />
                                            <path opacity="0.3" d="M11 19.8129C11 20.4129 10.5 20.9129 9.89999 20.8129C5.49999 20.2129 2 16.5128 2 11.9128C2 7.31283 5.39999 3.51281 9.89999 3.01281C10.5 2.91281 11 3.41281 11 4.01281V19.8129Z" fill="black" />
                                        </svg>
                                    </span>
                                    <div class="mt-1">
                                        <div class="fs-lg-2hx fs-2x fw-bolder text-gray-800 d-flex align-items-center">
                                        <div class="min-w-50px" data-kt-countup="true" data-kt-countup-value="287">0</div>+</div>
                                        <span class="text-gray-600 fw-bold fs-5 lh-0">Pengunjung</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="fs-2 fw-bold text-muted text-center mb-3">
                        <span class="fs-1 lh-1 text-gray-700">“</span>
                        When you care about your topic, you’ll write about it in a
                        <br />
                        <span class="text-gray-700 me-1">more powerful</span>,
                        emotionally expressive way
                        <span class="fs-1 lh-1 text-gray-700">“</span>
                    </div>
                    <div class="fs-2 fw-bold text-muted text-center">
                        <a href="#" class="link-primary fs-4 fw-bolder">Marcus Levy</a>
                        <span class="fs-4 fw-bolder text-gray-600">,KeenThemes CEO</span>
                    </div>
                </div>
            </div>
            <div class="mb-18">
                <div class="text-center mb-12">
                    <h3 class="fs-2hx text-dark mb-5">Our Great Team</h3>
                    <div class="fs-5 text-muted fw-bold">It’s no doubt that when a development takes longer to complete, additional costs to
                    <br />integrate and test each extra feature creeps up and haunts most of us.</div>
                </div>
                <div class="tns tns-default mb-10">
                    <div data-tns="true" data-tns-loop="true" data-tns-swipe-angle="false" data-tns-speed="2000" data-tns-autoplay="true" data-tns-autoplay-timeout="18000" data-tns-controls="true" data-tns-nav="false" data-tns-items="1" data-tns-center="false" data-tns-dots="false" data-tns-prev-button="#kt_team_slider_prev" data-tns-next-button="#kt_team_slider_next" data-tns-responsive="{1200: {items: 3}, 992: {items: 2}}">
                        <div class="text-center">
                            <div class="octagon mx-auto mb-5 d-flex w-200px h-200px bgi-no-repeat bgi-size-contain bgi-position-center" style="background-image:url('<?php echo base_url() ?>assets/admin/dist/assets/media/avatars/150-2.jpg')"></div>
                            <div class="mb-0">
                                <a href="../dist/account/overview.html" class="text-dark fw-bolder text-hover-primary fs-3">Paul Miles</a>
                                <div class="text-muted fs-6 fw-bold mt-1">Development Lead</div>
                            </div>
                        </div>
                        <div class="text-center">
                            <div class="octagon mx-auto mb-5 d-flex w-200px h-200px bgi-no-repeat bgi-size-contain bgi-position-center" style="background-image:url('<?php echo base_url() ?>assets/admin/dist/assets/media/avatars/150-3.jpg')"></div>
                            <div class="mb-0">
                                <a href="../dist/account/overview.html" class="text-dark fw-bolder text-hover-primary fs-3">Melisa Marcus</a>
                                <div class="text-muted fs-6 fw-bold mt-1">Creative Director</div>
                            </div>
                        </div>
                        <div class="text-center">
                            <div class="octagon mx-auto mb-5 d-flex w-200px h-200px bgi-no-repeat bgi-size-contain bgi-position-center" style="background-image:url('<?php echo base_url() ?>assets/admin/dist/assets/media/avatars/150-4.jpg')"></div>
                            <div class="mb-0">
                                <a href="../dist/account/overview.html" class="text-dark fw-bolder text-hover-primary fs-3">David Nilson</a>
                                <div class="text-muted fs-6 fw-bold mt-1">Python Expert</div>
                            </div>
                        </div>
                        <div class="text-center">
                            <div class="octagon mx-auto mb-5 d-flex w-200px h-200px bgi-no-repeat bgi-size-contain bgi-position-center" style="background-image:url('<?php echo base_url() ?>assets/admin/dist/assets/media/avatars/150-5.jpg')"></div>
                            <div class="mb-0">
                                <a href="../dist/account/overview.html" class="text-dark fw-bolder text-hover-primary fs-3">Anne Clarc</a>
                                <div class="text-muted fs-6 fw-bold mt-1">Project Manager</div>
                            </div>
                        </div>
                        <div class="text-center">
                            <div class="octagon mx-auto mb-5 d-flex w-200px h-200px bgi-no-repeat bgi-size-contain bgi-position-center" style="background-image:url('<?php echo base_url() ?>assets/admin/dist/assets/media/avatars/150-6.jpg')"></div>
                            <div class="mb-0">
                                <a href="../dist/account/overview.html" class="text-dark fw-bolder text-hover-primary fs-3">Ricky Hunt</a>
                                <div class="text-muted fs-6 fw-bold mt-1">Art Director</div>
                            </div>
                        </div>
                        <div class="text-center">
                            <div class="octagon mx-auto mb-5 d-flex w-200px h-200px bgi-no-repeat bgi-size-contain bgi-position-center" style="background-image:url('<?php echo base_url() ?>assets/admin/dist/assets/media/avatars/150-7.jpg')"></div>
                            <div class="mb-0">
                                <a href="../dist/account/overview.html" class="text-dark fw-bolder text-hover-primary fs-3">Alice Wayde</a>
                                <div class="text-muted fs-6 fw-bold mt-1">Marketing Manager</div>
                            </div>
                        </div>
                        <div class="text-center">
                            <div class="octagon mx-auto mb-5 d-flex w-200px h-200px bgi-no-repeat bgi-size-contain bgi-position-center" style="background-image:url('<?php echo base_url() ?>assets/admin/dist/assets/media/avatars/150-8.jpg')"></div>
                            <div class="mb-0">
                                <a href="../dist/account/overview.html" class="text-dark fw-bolder text-hover-primary fs-3">Carles Puyol</a>
                                <div class="text-muted fs-6 fw-bold mt-1">QA Managers</div>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-icon btn-active-color-primary" id="kt_team_slider_prev">
                        <span class="svg-icon svg-icon-3x">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path d="M11.2657 11.4343L15.45 7.25C15.8642 6.83579 15.8642 6.16421 15.45 5.75C15.0358 5.33579 14.3642 5.33579 13.95 5.75L8.40712 11.2929C8.01659 11.6834 8.01659 12.3166 8.40712 12.7071L13.95 18.25C14.3642 18.6642 15.0358 18.6642 15.45 18.25C15.8642 17.8358 15.8642 17.1642 15.45 16.75L11.2657 12.5657C10.9533 12.2533 10.9533 11.7467 11.2657 11.4343Z" fill="black" />
                            </svg>
                        </span>
                    </button>
                    <button class="btn btn-icon btn-active-color-primary" id="kt_team_slider_next">
                        <span class="svg-icon svg-icon-3x">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path d="M12.6343 12.5657L8.45001 16.75C8.0358 17.1642 8.0358 17.8358 8.45001 18.25C8.86423 18.6642 9.5358 18.6642 9.95001 18.25L15.4929 12.7071C15.8834 12.3166 15.8834 11.6834 15.4929 11.2929L9.95001 5.75C9.5358 5.33579 8.86423 5.33579 8.45001 5.75C8.0358 6.16421 8.0358 6.83579 8.45001 7.25L12.6343 11.4343C12.9467 11.7467 12.9467 12.2533 12.6343 12.5657Z" fill="black" />
                            </svg>
                        </span>
                    </button>
                </div>
            </div>
            end::Team-->
            <!--begin::Card
            <div class="card bg-light text-center">
                <div class="card-body py-12">
                    <a href="#" class="mx-4">
                        <img src="<?php echo base_url() ?>assets/admin/dist/assets/media/svg/brand-logos/facebook-4.svg" class="h-30px my-2" alt="" />
                    </a>
                    <a href="#" class="mx-4">
                        <img src="<?php echo base_url() ?>assets/admin/dist/assets/media/svg/brand-logos/instagram-2-1.svg" class="h-30px my-2" alt="" />
                    </a>
                    <a href="#" class="mx-4">
                        <img src="<?php echo base_url() ?>assets/admin/dist/assets/media/svg/brand-logos/github.svg" class="h-30px my-2" alt="" />
                    </a>
                    <a href="#" class="mx-4">
                        <img src="<?php echo base_url() ?>assets/admin/dist/assets/media/svg/brand-logos/behance.svg" class="h-30px my-2" alt="" />
                    </a>
                    <a href="#" class="mx-4">
                        <img src="<?php echo base_url() ?>assets/admin/dist/assets/media/svg/brand-logos/pinterest-p.svg" class="h-30px my-2" alt="" />
                    </a>
                    <a href="#" class="mx-4">
                        <img src="<?php echo base_url() ?>assets/admin/dist/assets/media/svg/brand-logos/twitter.svg" class="h-30px my-2" alt="" />
                    </a>
                    <a href="#" class="mx-4">
                        <img src="<?php echo base_url() ?>assets/admin/dist/assets/media/svg/brand-logos/dribbble-icon-1.svg" class="h-30px my-2" alt="" />
                    </a>
                </div>
            </div>
            end::Card-->
        </div>
        <!--end::Body-->
    </div>
    <!--begin::Scrolltop-->
    <div id="kt_scrolltop" class="scrolltop" data-kt-scrolltop="true">
        <span class="svg-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <rect opacity="0.5" x="13" y="6" width="13" height="2" rx="1" transform="rotate(90 13 6)" fill="black" />
                <path d="M12.5657 8.56569L16.75 12.75C17.1642 13.1642 17.8358 13.1642 18.25 12.75C18.6642 12.3358 18.6642 11.6642 18.25 11.25L12.7071 5.70711C12.3166 5.31658 11.6834 5.31658 11.2929 5.70711L5.75 11.25C5.33579 11.6642 5.33579 12.3358 5.75 12.75C6.16421 13.1642 6.83579 13.1642 7.25 12.75L11.4343 8.56569C11.7467 8.25327 12.2533 8.25327 12.5657 8.56569Z" fill="black" />
            </svg>
        </span> 
    </div>
    <!--end::Scrolltop-->
    <!--end::Main-->
    <script>var hostUrl = "assets/";</script>
    <!--begin::Javascript-->
    <!--begin::Global Javascript Bundle(used by all pages)-->
    <script src="<?php echo base_url() ?>assets/admin/dist/assets/plugins/global/plugins.bundle.js"></script>
    <script src="<?php echo base_url() ?>assets/admin/dist/assets/js/scripts.bundle.js"></script>
    <!--end::Global Javascript Bundle-->
    <!--begin::Page Vendors Javascript(used by this page)-->
    <script src="<?php echo base_url() ?>assets/admin/dist/assets/plugins/custom/fullcalendar/fullcalendar.bundle.js"></script>
    <script src="<?php echo base_url() ?>assets/admin/dist/assets/plugins/custom/prismjs/prismjs.bundle.js"></script>
    <script src="<?php echo base_url() ?>assets/admin/dist/assets/plugins/custom/fslightbox/fslightbox.bundle.js"></script>
    <!--end::Page Vendors Javascript-->
    <!--begin::Page Custom Javascript(used by this page)-->
    <script src="<?php echo base_url() ?>assets/admin/dist/assets/js/custom/widgets.js"></script>
    <script src="<?php echo base_url() ?>assets/admin/dist/assets/js/custom/documentation/documentation.js"></script>
    <script src="<?php echo base_url() ?>assets/admin/dist/assets/js/custom/documentation/search.js"></script>
    <script src="<?php echo base_url() ?>assets/admin/dist/assets/js/custom/documentation/general/search/basic.js"></script>
    <script src="<?php echo base_url() ?>assets/admin/dist/assets/js/custom/documentation/general/search/menu.js"></script>
    <script src="<?php echo base_url() ?>assets/admin/dist/assets/js/custom/documentation/general/search/responsive.js"></script>
    <!--end::Page Custom Javascript-->
    <!--end::Javascript-->
  </body>
</html>